@page {
  size: 190mm 280mm landscape;
  margin: 0;

}

@media print {

  body {
    width: 280mm;
    height: 190mm;
  }

}


.edito ul, nav {
    height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, calc(100vw / 8));
  grid-template-rows: repeat(6, calc(100vh / 6));

  grid-template-areas:
    "titre titre logo drapeauj drapeau1a drapeau1b drapeau1c drapeau1d"
    "drapeau2a contenu contenu contenu contenu contenu contenu drapeau2b"
    "drapeau2c contenu contenu contenu contenu contenu contenu drapeau2d"
    "drapeau2e contenu contenu contenu contenu contenu contenu drapeau2f"
    "drapeau3a contenu contenu contenu contenu contenu contenu drapeau3b"
    "drapeau3c drapeau3d drapeau3e drapeau3f drapeau4a drapeau4b drapeau4c drapeau4d";
}

.edito li {
  list-style-type: none;
}

/* print */
/* li img {
  width: 35mm;
  height: 30mm;
} */


.edito li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edito #contenu {
  grid-area: contenu;
  overflow: scroll;
  padding: 2em;
  margin: 0 auto;
}

.edito #titre { 
  grid-area: titre
}

.edito #titre  {
  width: calc(2 * 35mm);
  overflow: hidden;

}

.edito #logo {
  grid-area: logo;
}

.edito  #drapeauj { grid-area: drapeauj }

.edito  #drapeau1a { grid-area: drapeau1a }
.edito  #drapeau1b { grid-area: drapeau1b }
.edito  #drapeau1c { grid-area: drapeau1c }
.edito  #drapeau1d { grid-area: drapeau1d }
.edito  #drapeau2a { grid-area: drapeau2a }
.edito  #drapeau2b { grid-area: drapeau2b }
.edito  #drapeau2c { grid-area: drapeau2c }
.edito  #drapeau2d { grid-area: drapeau2d }
.edito  #drapeau2e { grid-area: drapeau2e }
.edito  #drapeau2f { grid-area: drapeau2f }
.edito  #drapeau3a { grid-area: drapeau3a }
.edito  #drapeau3b { grid-area: drapeau3b }
.edito  #drapeau3c { grid-area: drapeau3c }
.edito  #drapeau3d { grid-area: drapeau3d }
.edito  #drapeau3e { grid-area: drapeau3e }
.edito  #drapeau3f { grid-area: drapeau3f }
.edito  #drapeau4a { grid-area: drapeau4a }
.edito  #drapeau4b { grid-area: drapeau4b }
.edito  #drapeau4c { grid-area: drapeau4c }
.edito  #drapeau4d { grid-area: drapeau4d }


@media screen and (max-width:767px) {

  .edito ul {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
  
    grid-template-areas:
      "titre titre logo drapeauj drapeau1a drapeau1b drapeau1c drapeau1d"
      "drapeau2a contenu contenu contenu contenu contenu contenu drapeau2b"
      "drapeau2c contenu contenu contenu contenu contenu contenu drapeau2d"
      "drapeau2e contenu contenu contenu contenu contenu contenu drapeau2f"
      "drapeau3a contenu contenu contenu contenu contenu contenu drapeau3b"
      "drapeau3c drapeau3d drapeau3e drapeau3f drapeau4a drapeau4b drapeau4c drapeau4d";
  }
  }
}